


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #F08080;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #fff;
}
.input{
  
    height: 44px;
    width: 300px;
}
h1{
   color: #fff;
}